In [1]:
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd
import json
import csv

In [2]:
news2016 = pd.read_csv('/Users/cheriehe/Desktop/Thesis/data/news2016_valid.csv')

In [3]:
train = pd.read_csv('/Users/cheriehe/Desktop/Thesis/data/news2016_train.csv')

In [4]:
train.head()

,keywords,desc,title,source,time,content
0,英国石油公司发现巨型油田 股价飙升3倍！,英国石油天然气投资公司(UKOG)9日说，英格兰南部地底探测到规模巨大的油田，石油储量或许高...,英国石油公司发现巨型油田 股价飙升3倍！,移动中金在线,04-10 15:15,英国石油天然气投资公司(UKOG)9日说，英格兰南部地底探测到规模巨大的油田，石油储量或许高...
1,沪深300指数期货开户,沪深300指数期货开户--金殿环球（http://www.jindvip.com/）开户可以...,沪深300指数期货开户,三信财富汇,10-25 11:30,沪深300指数期货开户--金殿环球（http://www.jindvip.com/）开户可以...
2,加分，少数民族,取消部分全国性加分项目取消自2015年1月1日起，取消以下全国性高考加分项目，此后获得相关奖...,吉林省：今年高考加分项目大幅减少,新文化报,03-25 02:11,取消 部分全国性加分项目取消自2015年1月1日起，取消以下全国性高考加分项目，此后获得相关...
3,搜狐汽车，东风雪铁龙，亿万豪礼惠,宁夏正通东风雪铁龙现接到总部邀请，特举办：“春雷行动，龙抬头开年盛宴——东风雪铁龙百城千店亿...,春雷行动:东风雪铁龙百城千店亿万豪礼惠,主流媒体-汽车,03-19 14:40,宁夏正通东风雪铁龙现接到总部邀请，特举办：“春雷行动，龙抬头开年盛宴——东风雪铁龙百城千店...
4,如何选择儿童摄影机构给宝宝拍照?,给宝宝留下成长纪念是每位妈妈都特别期待的事情，选择专业的儿童摄影机构也是非常重要的一步，每年...,如何选择儿童摄影机构给宝宝拍照?,爱儿美儿童摄影,10-28 16:25,给宝宝留下成长纪念是每位妈妈都特别期待的事情，选择专业的儿童摄影机构也是非常重要的一步，每年...

In [5]:
train.isnull().any()

keywords    False
desc         True
title        True
source      False
time        False
content      True
dtype: bool

In [6]:
# train = 
train = train.loc[train['content'].isnull() == False]

In [7]:
train.isnull().any()

keywords    False
desc         True
title        True
source      False
time        False
content     False
dtype: bool

In [8]:
train = train[['content']]

In [9]:
train.head()

                                             content
0  英国石油天然气投资公司(UKOG)9日说，英格兰南部地底探测到规模巨大的油田，石油储量或许高...
1  沪深300指数期货开户--金殿环球（http://www.jindvip.com/）开户可以...
2  取消 部分全国性加分项目取消自2015年1月1日起，取消以下全国性高考加分项目，此后获得相关...
3   宁夏正通东风雪铁龙现接到总部邀请，特举办：“春雷行动，龙抬头开年盛宴——东风雪铁龙百城千店...
4  给宝宝留下成长纪念是每位妈妈都特别期待的事情，选择专业的儿童摄影机构也是非常重要的一步，每年...

In [10]:
train.count()

content    2240809
dtype: int64

In [11]:
news2016.head()

,keywords,desc,title,source,time,content
0,借鉴：这篇最受欢迎校训，没有一个字讲学习,“我知道，我不是因为偶然才来到这个世界，我是为了践行一个平凡、美丽、无私的梦想而来的；我是为...,借鉴：这篇最受欢迎校训，没有一个字讲学习,龙乡教育,10-14 21:55,“我知道，我不是因为偶然才来到这个世界，我是为了践行一个平凡、美丽、无私的梦想而来的；我是为...
1,市民淘宝购物一年四度被忽悠 买货容易退货难,张女士提供豆皮有虫尸的证据照片。受访者供图淘宝上购物，一年被忽悠四次。这样的事情就被市民张女...,市民淘宝购物一年四度被忽悠 买货容易退货难,主流媒体-媒体平台入驻自媒体,03-24 14:13,张女士提供豆皮有虫尸的证据照片。受访者供图淘宝上购物，一年被忽悠四次。这样的事情就被市民张...
2,[统计]机械.电器类公司市场表现(20150407),@名称代码收盘价日涨跌周涨跌月涨跌季涨跌深华新0000100.0000.00%0.00%0....,[统计]机械.电器类公司市场表现(20150407),移动中金在线,04-08 06:40,@名称代码收盘价日涨跌周涨跌月涨跌季涨跌深华新0000100.0000.00%0.00%0....
3,[每日一技]四维绕杆跑练习,爱高体育，有趣兼有料的校园足球资讯平台。每日为你分享一招足球技巧！让你更懂得如何运用爱高安全...,[每日一技]四维绕杆跑练习,爱高体育mp,10-12 22:15,爱高体育，有趣兼有料的校园足球资讯平台。每日为你分享一招足球技巧！让你更懂得如何运用爱高安...
4,【漫展活动】风云小分队在YACA,大家期待已久的yaca万圣动漫音乐节终于来啦，风云动漫社の动物园小分队早早来到了展会现场布置...,【漫展活动】风云小分队在YACA,顺职风云动漫社,10-29 01:07,大家期待已久的yaca万圣动漫音乐节终于来啦，风云动漫社の动物园小分队早早来到了展会现场布...

In [12]:
news2016.isnull().any()

keywords    False
desc         True
title       False
source      False
time        False
content      True
dtype: bool

In [13]:
#dropout empty rows
news2016 = news2016.loc[news2016['desc'].isnull() == False]

In [14]:
news2016.isnull().any()

keywords    False
desc        False
title       False
source      False
time        False
content     False
dtype: bool

In [15]:
news2016 = news2016[['content']]

In [16]:
news2016.head()

                                             content
0  “我知道，我不是因为偶然才来到这个世界，我是为了践行一个平凡、美丽、无私的梦想而来的；我是为...
1   张女士提供豆皮有虫尸的证据照片。受访者供图淘宝上购物，一年被忽悠四次。这样的事情就被市民张...
2  @名称代码收盘价日涨跌周涨跌月涨跌季涨跌深华新0000100.0000.00%0.00%0....
3   爱高体育，有趣兼有料的校园足球资讯平台。每日为你分享一招足球技巧！让你更懂得如何运用爱高安...
4   大家期待已久的yaca万圣动漫音乐节终于来啦，风云动漫社の动物园小分队早早来到了展会现场布...

In [17]:
news_2016 = pd.concat([train, news2016], axis=0,ignore_index =True,sort=False)
news_2016.head()

                                             content
0  英国石油天然气投资公司(UKOG)9日说，英格兰南部地底探测到规模巨大的油田，石油储量或许高...
1  沪深300指数期货开户--金殿环球（http://www.jindvip.com/）开户可以...
2  取消 部分全国性加分项目取消自2015年1月1日起，取消以下全国性高考加分项目，此后获得相关...
3   宁夏正通东风雪铁龙现接到总部邀请，特举办：“春雷行动，龙抬头开年盛宴——东风雪铁龙百城千店...
4  给宝宝留下成长纪念是每位妈妈都特别期待的事情，选择专业的儿童摄影机构也是非常重要的一步，每年...

In [18]:
news_2016.shape

(2317080, 1)

In [21]:
news_2016.to_csv('news_2016.txt',sep='\n',index=False)

In [2]:
pwd()

'/Users/cheriehe/Desktop/Thesis/data/leabeleddata'

In [3]:
path = '/Users/cheriehe/Desktop/Thesis/data/leabeleddata/'

In [4]:
pd_all = pd.read_csv(path + 'weibo_senti_100k.csv')

print('评论数目（总体）：%d' % pd_all.shape[0])
print('评论数目（正向）：%d' % pd_all[pd_all.label==1].shape[0])
print('评论数目（负向）：%d' % pd_all[pd_all.label==0].shape[0])

评论数目（总体）：119988
评论数目（正向）：59993
评论数目（负向）：59995

In [5]:
pd_all.head()

   label                                             review
0      1              ﻿更博了，爆照了，帅的呀，就是越来越爱你！生快傻缺[爱你][爱你][爱你]
1      1  @张晓鹏jonathan 土耳其的事要认真对待[哈哈]，否则直接开除。@丁丁看世界 很是细心...
2      1  姑娘都羡慕你呢…还有招财猫高兴……//@爱在蔓延-JC:[哈哈]小学徒一枚，等着明天见您呢/...
3      1                                         美~~~~~[爱你]
4      1                                  梦想有多大，舞台就有多大![鼓掌]

In [6]:
pd_all = pd_all[['review', 'label']]
pd_all.head()

                                              review  label
0              ﻿更博了，爆照了，帅的呀，就是越来越爱你！生快傻缺[爱你][爱你][爱你]      1
1  @张晓鹏jonathan 土耳其的事要认真对待[哈哈]，否则直接开除。@丁丁看世界 很是细心...      1
2  姑娘都羡慕你呢…还有招财猫高兴……//@爱在蔓延-JC:[哈哈]小学徒一枚，等着明天见您呢/...      1
3                                         美~~~~~[爱你]      1
4                                  梦想有多大，舞台就有多大![鼓掌]      1

In [7]:
pd_all.to_csv('weibo_label_100k.txt', sep = '\t', index = False)

In [8]:
simpl = pd.read_csv(path + 'simplifyweibo_4_moods.csv')

moods = {0: '喜悦', 1: '愤怒', 2: '厌恶', 3: '低落'}

print('微博数目（总体）：%d' % simpl.shape[0])

for label, mood in moods.items(): 
    print('微博数目（{}）：{}'.format(mood,  simpl[simpl.label==label].shape[0]))

微博数目（总体）：361744
微博数目（喜悦）：199496
微博数目（愤怒）：51714
微博数目（厌恶）：55267
微博数目（低落）：55267

In [9]:
55267*2 + 51714 + 199496 == 361744

True

In [10]:
simpl.sample(10)

        label                                             review
62361       0  ....等五开心伽时候就試 下...。【实用】怎样使手机随时变成空号！让你的手机随时变成空号...
43164       0              @ 微微雨xuxu 。。。我觉得这个绝对有必要存一下。到时候别忘了这页哈。
350105      3  我们就需要在劫难中被点点滴滴去感动没有了爱我们还剩下什么终于看见一条好消息了。那位妈妈非常有...
245893      1  上海火灾多人死于室内是因百姓缺乏自救常识请问,中国老百姓还要懂多少自救常识还要成为多少个领域...
59021       0  双花殿大腿腿带我去嘛TAT : 喜欢日系元素的妹妹留意哟蓓蓓今天推荐一家在田子坊的小店，除了...
165273      0  哇面包情书有够浪漫，应该中国没得卖吧？亲爱的，我能用面包机写出情书给你吃这款面包机出自Sas...
89410       0  对唐骏似乎很损，但是有点道理。穿西服的不一定都是君子，也有可能是唐骏；笑得灿烂的不一定都是真...
94426       0  回复好美！欣赏了~ ~ 心似莲盈盈如水，片片心香丝丝回味，一如荷叶下脉脉的沉醉；柳如眉飘逸似...
195693      0  回复相信我没错的！看来我要去听一听老郭的相声了，看看怎么样现代人笑点都很高，我觉得郭德纲是一...
207379      1                        非腐竹居然也召集！！！？？？。11月30日中午12点整

In [11]:
weibo_0 = simpl[simpl['label']==0]
weibo_0.sample(5)

        label                                             review
83497       0                          村姑喵~ 【难伺候】这冷气开的....忒冷了吧～～
105503      0                            我齿笑你！！！哪个少女不善怀春哪个美女笑不露齿
29918       0  前两日去左HK 啊。。。好多谢ANDY 带我去玩啊。去左好多地方咯，沙田、山顶、赤柱、荃湾。...
125547      0                         踢球的是贝克汉姆么？这“任意球”精准的让人目瞪口呆！
172970      0  我要到楼下冲动一下···调教巧克力！在和面条··面包商量怎样安置的作品。否则，罗叔失落呀在耿...

In [12]:
weibo_0.count()

label     199496
review    199496
dtype: int64

In [52]:
label = np.ones(len(weibo_0),dtype=np.int).tolist()
label[0]

1

In [53]:
weibo_0['label'] = label

/Users/cheriehe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
weibo_0.head()

   label                                             review
0      1  ﻿啊呀呀！要死啦！么么么！只穿外套就好了，我认为里面那件很多余啊周小伦喜歡 你各種 五角星的...
1      1  嗯……既然大姚通知了……那我也表示下收到……姚，你知道吗？假如外星人入侵地球，只要摧毁我们的...
2      1                                  风格不一样嘛，都喜欢！最喜欢哪张？
3      1  好呀，试试D .I .Y .去死皮面膜1.将燕麦片加水中浸泡6小时，加入木瓜牛奶搅拌。2.放...
4      1  张老师，谢谢侬的信任！粉丝多少无所谓重在质地近日发现一个现象——他加了你关注，你回加后，他立...

In [73]:
weibo_1 = simpl[simpl['label']==1]
weibo_1.sample(3)

        label                                         review
227807      1                  呼呼七点半走我凌晨五点得出门四点得起床吗？55555555
242745      1  亲爱的不好意思我笑死了> < 我今天去买了香蕉！我竟然买了香蕉！！我怎么会去买香蕉啊！！！
237562      1                                          农村信用社

In [74]:
label = np.zeros(len(weibo_1),dtype=np.int).tolist()
label[0]

0

In [75]:
weibo_1['label'] = label
weibo_1.sample(3)
weibo_1.head()

/Users/cheriehe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

        label                                             review
199496      0  ﻿回复老农民的处女情结，原著里的女主很丰满滴，而且很为胸大烦恼滴，老三第一次背她过河被胸器压...
199497      0        。今天才知道，原来世博不能谈“抄袭”，因爲 抄袭个案还真不少，不少当事人一肚子的无奈。
199498      0  回复好吧，下次一起，今儿狗害得我们都没玩····不是么。我昨天明明说让你们叫我。在路上。狗是重点。
199499      0  愛 面膜。。。。吼吼，分享有礼啦，我们将再抽取30名网友，赠送水蜜桃面膜，盒装的哦，一起参与...
199500      0  没有希望的国家操！: 汽油涨价。。。自焚不起了: : : : : 不忍看，中国这什么，助纣为...

In [76]:
weibo_2 = simpl[simpl['label']==2]
weibo_2.sample(5)

        label                                             review
286835      2  畅畅，看到你更新心情真的不一样咧！好开心，好贴心，好幸福……让大家等久了还不太会用微博中.....
271012      2  啊哈哈哈哈哈哈哈哈哈哈~ ~ ~ ~ 介个太真实太真实太真实了！！！！！各位写手瞧过来。。。...
258964      2                                   我更惨！。。为什么！！！狮子座。
285626      2                             明天要早起做media monitoring
252967      2  回复哈哈。为了这段跨越种族，不被世俗眼光接受的爱情，我容易嘛我！约会一只企鹅MM 真的。。。...

In [77]:
label = np.zeros(len(weibo_2),dtype=np.int).tolist()
label[0]

0

In [78]:
weibo_2['label'] = label
weibo_2.sample(3)

/Users/cheriehe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

        label                                             review
287470      0  这个学生是傻啊，还是傻啊青岛女教师张雪静雇学生到深圳杀情敌，学生看走眼误将女清洁工王素容当成...
279523      0       我去！奥特曼呢？怪物。。我害pia .2012真的要到来了，五头蛇都出现了~ ~ ~ ~
301469      0             ...................。一个很冷、很变态、却又感人的故事……

In [79]:
# simpl['label'] = 
# for i in range(len(simpl[simpl['label']==3])):
weibo_3 = simpl[simpl['label']==3]
weibo_3.sample(5)

        label                                             review
336019      3           昨天在外晒了一天好像有点中暑上火了。。。亲们告诉我吃牛黄解毒片好呢还是去火片呢？
355298      3                               55555~ ~ ~ 我脸好烫好烫好烫呀
346099      3  熊猫塔马德智商太高了！！！胜过章鱼帝【中国预测帝】12只熊猫轮番预测亚运金牌，饲养员为熊猫准...
338103      3  親 爱的，您太成功吖 ，又是诗人又是顶级爱情專 家主持，现在还拍片！好好休息哦~ 刚收工到家...
324627      3  一个剧情片的梗概或开头他姓宰，40岁。三年前，他在贵州，用杀猪刀将与妻子通奸的男子杀害，并将...

In [80]:
label = np.zeros(len(weibo_3),dtype=np.int).tolist()
label[0]

0

In [81]:
weibo_3.count()

label     55267
review    55267
dtype: int64

In [82]:
weibo_3['label'] = label
weibo_3.head(3)

/Users/cheriehe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

        label                                             review
306477      0                       ﻿无语......好冷，哥哥，快点拍，后面还有几十个呢！
306478      0           我发现这个新浪微博是周笔畅粉丝聚集地也~ 为什么基本上10个人里面就有几个在迷她
306479      0  感谢和谐强大的祖国怎么都没有留下帮助他们的联系方法？怎么办呢太心酸了。【贵州茶花村的挣扎】八...

In [83]:
weibo_1.count()

label     51714
review    51714
dtype: int64

In [84]:
weibo_2.count()

label     55267
review    55267
dtype: int64

In [85]:
weibo_3.count()

label     55267
review    55267
dtype: int64

In [86]:
weibo_neg = pd.concat([weibo_1, weibo_2, weibo_3], axis=0,ignore_index =True,sort=True)
weibo_neg.sample(3)

       label                                             review
64557      0  笨人是因为他笨，所以别人影响不了他；最聪明的人是因为自己有思想，有见解，有中心主张，所以别人...
35509      0  如果不能自由的错，那也很难自由的对。希望-------民主、自由在中国的速度慢些，再慢些！！...
53555      0  漏动已被修复~ 连午后红茶都有漏洞了，要用360了小卖部午后红茶..买4支中4支阿.大家买就...

In [87]:
weibo_neg[weibo_neg['label'] == 0].count()

label     162248
review    162248
dtype: int64

In [88]:
weibo_neg[weibo_neg['label'] == 0].count() == len(weibo_neg)

label     True
review    True
dtype: bool

In [120]:
# weibo_neg = weibo_neg[['review', 'label']]
# del weibo_neg['label']
weibo_neg.columns=['title']
weibo_neg.head()

                                               title
0  ﻿回复老农民的处女情结，原著里的女主很丰满滴，而且很为胸大烦恼滴，老三第一次背她过河被胸器压...
1        。今天才知道，原来世博不能谈“抄袭”，因爲 抄袭个案还真不少，不少当事人一肚子的无奈。
2  回复好吧，下次一起，今儿狗害得我们都没玩····不是么。我昨天明明说让你们叫我。在路上。狗是重点。
3  愛 面膜。。。。吼吼，分享有礼啦，我们将再抽取30名网友，赠送水蜜桃面膜，盒装的哦，一起参与...
4  没有希望的国家操！: 汽油涨价。。。自焚不起了: : : : : 不忍看，中国这什么，助纣为...

In [97]:
weibo_neg.count()

review    162248
dtype: int64

In [95]:
weibo_neg.to_csv('weibo_neg.txt', index = False)

In [122]:
# weibo_pos = weibo_0[['review', 'label']]
# del weibo_pos['label']
weibo_pos.columns=['title']
weibo_pos.head()

                                               title
0  ﻿啊呀呀！要死啦！么么么！只穿外套就好了，我认为里面那件很多余啊周小伦喜歡 你各種 五角星的...
1  嗯……既然大姚通知了……那我也表示下收到……姚，你知道吗？假如外星人入侵地球，只要摧毁我们的...
2                                  风格不一样嘛，都喜欢！最喜欢哪张？
3  好呀，试试D .I .Y .去死皮面膜1.将燕麦片加水中浸泡6小时，加入木瓜牛奶搅拌。2.放...
4  张老师，谢谢侬的信任！粉丝多少无所谓重在质地近日发现一个现象——他加了你关注，你回加后，他立...

In [100]:
weibo_pos.to_csv('weibo_pos.txt', index = False)

In [91]:
# weibo = pd.concat([weibo_pos, weibo_neg], axis=0,ignore_index =True,sort=True)
weibo = pd.concat([weibo_pos, weibo_neg], axis=0,sort=False)
weibo.head()

                                              review  label
0  ﻿啊呀呀！要死啦！么么么！只穿外套就好了，我认为里面那件很多余啊周小伦喜歡 你各種 五角星的...      1
1  嗯……既然大姚通知了……那我也表示下收到……姚，你知道吗？假如外星人入侵地球，只要摧毁我们的...      1
2                                  风格不一样嘛，都喜欢！最喜欢哪张？      1
3  好呀，试试D .I .Y .去死皮面膜1.将燕麦片加水中浸泡6小时，加入木瓜牛奶搅拌。2.放...      1
4  张老师，谢谢侬的信任！粉丝多少无所谓重在质地近日发现一个现象——他加了你关注，你回加后，他立...      1

In [92]:
len(weibo_neg) + len(weibo_pos) == len(simpl)

True

In [93]:
weibo.count()

review    361744
label     361744
dtype: int64

In [177]:
weibo.to_csv('weibo.txt', sep = '\t', index = False)

In [158]:
!ls

AirPassengers.csv             new2016zh
bad-comment.txt               news_2016.txt
bad.txt                       page.txt
bank.csv                      ship.csv
cctv_news.csv                 simplifyweibo_4_moods.csv
comment-szzs.csv              stock.csv
finance_dict.txt              stop.txt
food.csv                      szzs-result.csv
get_labeled_data.ipynb        szzs-sentiment.csv
good-comment.txt              szzs-sentiment2.csv
good.txt                      szzs.csv
history-szzs.csv              weibo_2019-05-19_12.10.38.txt
house.csv                     weibo_2019-05-21_15.26.17.txt
kdxf_news(1, 5).csv           weibo_2019-05-22_05.43.48.txt
kdxf_news(1, 5).xlsx          weibo_senti_100k.csv
kdxf_news(6, 10).xlsx         xueqiu_kdxfposts.csv
kdxf_news.xlsx                ~$kdxf_news(1, 5).xlsx
neutral.txt

In [ ]:
pwd

In [185]:
com_pos = pd.read_csv('good-comment.txt',sep='\n',error_bad_lines=False, header = None, names = ['title'])
com_pos.head()

                         title
0           四大报论再融资新政：维护中小股东利益
1       沪指收盘强势上涨逾1% 恒指创5个月以来新高
2  首批养老金权益类组合有望本周打款 最快将在本周买入股票
3                         开盘涨停
4                     好运来了都挡不住

In [188]:
label = np.ones(len(com_pos), dtype = np.int).tolist()
com_pos['label'] = label
com_pos.head()

                         title  label
0           四大报论再融资新政：维护中小股东利益      1
1       沪指收盘强势上涨逾1% 恒指创5个月以来新高      1
2  首批养老金权益类组合有望本周打款 最快将在本周买入股票      1
3                         开盘涨停      1
4                     好运来了都挡不住      1

In [189]:
!ls

AirPassengers.csv             news_2016.txt
bad-comment.txt               page.txt
bad.txt                       ship.csv
bank.csv                      simplifyweibo_4_moods.csv
cctv_news.csv                 stock.csv
comment-szzs.csv              stop.txt
finance_dict.txt              szzs-result.csv
food.csv                      szzs-sentiment.csv
get_labeled_data.ipynb        szzs-sentiment2.csv
good-comment.txt              szzs.csv
good.txt                      weibo.txt
history-szzs.csv              weibo_2019-05-19_12.10.38.txt
house.csv                     weibo_2019-05-21_15.26.17.txt
kdxf_news(1, 5).csv           weibo_2019-05-22_05.43.48.txt
kdxf_news(1, 5).xlsx          weibo_neg.txt
kdxf_news(6, 10).xlsx         weibo_pos.txt
kdxf_news.xlsx                weibo_senti_100k.csv
neutral.txt                   xueqiu_kdxfposts.csv
new2016zh                     ~$kdxf_news(1, 5).xlsx

In [223]:
com_neg = pd.read_csv('bad-comment.txt',sep='\n',error_bad_lines=False, header = None, names = ['content'])
com_neg.head()

                 content
0                  换手率太低
1            两市成交量环比有所萎缩
2  大盘要跳水，一个涨停是事件刺激，不可能长久
3            天天跌，你都跌了一年了
4     这狗链子股不行，还他妈军工呢？象军母

In [224]:
label = np.zeros(len(com_neg), dtype = np.int).tolist()
com_neg['label'] = label
com_neg.head()

                 content  label
0                  换手率太低      0
1            两市成交量环比有所萎缩      0
2  大盘要跳水，一个涨停是事件刺激，不可能长久      0
3            天天跌，你都跌了一年了      0
4     这狗链子股不行，还他妈军工呢？象军母      0

In [230]:
com_neg.count()

content    2014
label      2014
dtype: int64

In [250]:
com_pos = pd.read_csv('good-comment.txt',sep='\n',error_bad_lines=False, header = None, names = ['content'])
com_pos.tail()

     content
1338      利多
1339     蓝筹股
1340       牛
1341      牛逼
1342      牛市

In [251]:
com_pos.loc[len(com_pos), 'content'] = '吃肉'

In [252]:
com_pos.tail()

     content
1339     蓝筹股
1340       牛
1341      牛逼
1342      牛市
1343      吃肉

In [253]:
label_pos = np.ones(len(com_pos), dtype = np.int).tolist()
com_pos['label'] = label_pos
com_pos.tail()

     content  label
1339     蓝筹股      1
1340       牛      1
1341      牛逼      1
1342      牛市      1
1343      吃肉      1

In [254]:
com_pos.count()

content    1344
label      1344
dtype: int64

In [101]:
kdxf_label = pd.read_csv('kdxf_news_label.csv', header = 1)
kdxf_label = kdxf_label[['title', 'content', 'date', 'label']]
kdxf_label.head()

                      title                   content        date  label
0  科大讯飞今天人气也上来了，接下来会连续涨停！！！  科大讯飞今天人气也上来了，接下来会连续涨停！！！  2020-03-03    1.0
1           快买呀，今天不买，明天买不到啦           快买呀，今天不买，明天买不到啦  2020-03-03    1.0
2                 坚持住，好股不怕洗                 坚持住，好股不怕洗  2020-03-03    1.0
3           狗真多，一直不停的叫多，骗散户           狗真多，一直不停的叫多，骗散户  2020-03-03    0.0
4   还好涨停我出货了，明天可以低价接回来了[胜利]       还好涨停我出货了，明天可以低价接回来了  2020-03-03    1.0

In [267]:
kdxf_label.count()

title      731
content    731
date       731
label      731
dtype: int64

In [106]:
kdxf_neg = kdxf_label[kdxf_label['label'] == 0.0]
kdxf_neg.head()

,title,content,date,label
3,狗真多，一直不停的叫多，骗散户,狗真多，一直不停的叫多，骗散户,2020-03-03,0.0
9,明天跌停[大笑],明天跌停[大笑],2020-03-03,0.0
11,真笑了，涨停板的时候有说二十个板的。估计明天跌停板！资金跑了！,真笑了，涨停板的时候有说二十个板的。估计明天跌停板！资金跑了！,2020-03-03,0.0
12,明天窝里杀,明天窝里杀,2020-03-03,0.0
14,成功洗出,成功洗出,2020-03-03,0.0

In [108]:
kdxf_neg['title'].to_csv('kdxf_neg.txt',index=False)

/Users/cheriehe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [217]:
label = np.ones(len(kdxf_neg), dtype = np.int)
kdxf_neg['label'] = label
kdxf_neg.head()

/Users/cheriehe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                      title                   content        date  label
0  科大讯飞今天人气也上来了，接下来会连续涨停！！！  科大讯飞今天人气也上来了，接下来会连续涨停！！！  2020-03-03      1
1           快买呀，今天不买，明天买不到啦           快买呀，今天不买，明天买不到啦  2020-03-03      1
2                 坚持住，好股不怕洗                 坚持住，好股不怕洗  2020-03-03      1
4   还好涨停我出货了，明天可以低价接回来了[胜利]       还好涨停我出货了，明天可以低价接回来了  2020-03-03      1
5         这庄不错，给上车机会，明天还能涨！         这庄不错，给上车机会，明天还能涨！  2020-03-03      1

In [109]:
kdxf_pos = kdxf_label[kdxf_label['label'] == 1.0]
kdxf_pos.head()

                      title                   content        date  label
0  科大讯飞今天人气也上来了，接下来会连续涨停！！！  科大讯飞今天人气也上来了，接下来会连续涨停！！！  2020-03-03    1.0
1           快买呀，今天不买，明天买不到啦           快买呀，今天不买，明天买不到啦  2020-03-03    1.0
2                 坚持住，好股不怕洗                 坚持住，好股不怕洗  2020-03-03    1.0
4   还好涨停我出货了，明天可以低价接回来了[胜利]       还好涨停我出货了，明天可以低价接回来了  2020-03-03    1.0
5         这庄不错，给上车机会，明天还能涨！         这庄不错，给上车机会，明天还能涨！  2020-03-03    1.0

In [115]:
kdxf_pos['content'].isnull().any()

False

In [110]:
label = np.ones(len(kdxf_pos), dtype = np.int)
kdxf_pos['label'] = label
kdxf_pos.head()

/Users/cheriehe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                      title                   content        date  label
0  科大讯飞今天人气也上来了，接下来会连续涨停！！！  科大讯飞今天人气也上来了，接下来会连续涨停！！！  2020-03-03      1
1           快买呀，今天不买，明天买不到啦           快买呀，今天不买，明天买不到啦  2020-03-03      1
2                 坚持住，好股不怕洗                 坚持住，好股不怕洗  2020-03-03      1
4   还好涨停我出货了，明天可以低价接回来了[胜利]       还好涨停我出货了，明天可以低价接回来了  2020-03-03      1
5         这庄不错，给上车机会，明天还能涨！         这庄不错，给上车机会，明天还能涨！  2020-03-03      1

In [114]:
kdxf_pos['title'].to_csv('kdxf_pos.txt', index=False)

/Users/cheriehe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [128]:
neg = pd.concat([kdxf_neg['title'], weibo_neg['title']], axis=0,sort=False, ignore_index =True)
neg.head()

0                    狗真多，一直不停的叫多，骗散户
1                           明天跌停[大笑]
2    真笑了，涨停板的时候有说二十个板的。估计明天跌停板！资金跑了！
3                              明天窝里杀
4                               成功洗出
Name: title, dtype: object

In [129]:
neg.count()

162403

In [130]:
neg.to_csv('neg.txt',index=False)

/Users/cheriehe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [221]:
kdxf = kdxf[['content', 'label']]

In [232]:
kdxf.loc[608, 'label'] = 0

In [266]:
kdxf[kdxf['label']==0].count()

content    156
label      156
dtype: int64

In [263]:
com_neg.count()

content    2014
label      2014
dtype: int64

In [270]:
stock_comments =pd.concat([kdxf, com_pos, com_neg], axis=0,sort=True, ignore_index =True)
stock_comments.count()

content    3970
label      3970
dtype: int64

In [258]:
stock_comments.tail()

     content  label
3965      超买      0
3966    关灯吃面      0
3967      割肉      0
3968       亏      0
3969      吃面      0

In [269]:
stock_comments.to_csv('stock_comments.txt', sep = '\t', index = False)

In [280]:
xueqiu_kdxf = pd.read_csv('xueqiu_kdxfposts.csv')
xueqiu_kdxf.head(2)

,id,user_id,title,text,retweet_count,reply_count,fav_count,type,user_friends_count,user_followers_count,user_status_count,user_province,timeBefore
0,143187396,2143043140,NaN,$科大讯飞(SZ002230)$ ...,0,0,0,2.0,118,4039,11051,省/直辖市,2020-03-07 13:36
1,143187165,2143043140,NaN,$科大讯飞(SZ002230)$ 科大讯飞，走向商业生态系统的核心之路 | 艾问顶级人物艾问...,0,0,1,2.0,118,4039,11051,省/直辖市,2020-03-07 13:30

In [282]:
xueqiu_kdxf = xueqiu_kdxf[['text', 'title']]

In [283]:
del xueqiu_kdxf['title']
xueqiu_kdxf.head()

                                                text
0  $科大讯飞(SZ002230)$                              ...
1  $科大讯飞(SZ002230)$ 科大讯飞，走向商业生态系统的核心之路 | 艾问顶级人物艾问...
2  $科大讯飞(SZ002230)$ 最新！智慧空中课堂入选《2020年上海市第一批创新产品推荐...
3  有机构提出的新基建7大金刚，看看中兴通讯，国电南瑞，中国中车，特锐德，光环新网，科大讯飞，用友网络
4  $科大讯飞(SZ002230)$$同花顺(SZ300033)$掐指一算，正式参与这个市场也5...

In [285]:
xueqiu_kdxf.to_csv('xueqiu_kdxf.txt', index = False)

In [327]:
test = pd.read_csv(path + 'kdxf_test.csv')
test.head()

,微博id,发布者,content,label
0,GAmVExuCP,新浪科技,新浪科技:#创事记# 【讯飞AI同传被指造假：译员亲自揭发 用人类翻译冒充AI】2018年9...,1.0
1,HwRhBwmVJ,南宫小妹,南宫小妹:探访2019数博会：5G商用何时落地？每年的中国国际大数据产业博览会（以下简称“数...,1.0
2,HwLvzA8Ir,21世纪经济报道,21世纪经济报道:【柳传志梁稳根张文中等22位企业家挨个发言，谈的是这个话题】“在当前国际经...,1.0
3,HwKmt950y,忍者大诚,忍者大诚:中国人骨子里是自卑的，奴性的。中国的某些企业比如瑞幸咖啡，阿里巴巴，腾讯，科大讯飞...,1.0
4,HwHPhfAnJ,经济观察报,经济观察报:【中国电信将在今年内采购3000万台终端 进军千亿级智慧家庭市场】5月30日，为...,1.0

In [328]:
test = test[['content', 'label']]

In [344]:
test_neg = test[test['label']== 0.0]

In [345]:
test_neg.head()
test_neg.count()

content    87
label      87
dtype: int64

In [346]:
label = np.zeros(len(test_neg), dtype = np.int)
test_neg['label'] = label
test_neg.sample(4)

/Users/cheriehe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                               content  label
450  未来网编程频道:【科大讯飞五年获补6.5亿  应收账款逐年增长高达26亿】在世界人工智能大会...      0
42   股海擒牛188:沪深两市今日冲高回落，沪指受压20日线，今日早盘在权重股带下一路走高，但午后...      0
70   AHSTZL:布局三年 科大讯飞的消费者业务仍面临挑战科大讯飞将自身定位为技术创新企业，而并...      0
451  老-板说的对:【科大讯飞发布前三季度财报   曾经千亿市值现已跌去大半】10月23日，科大讯...      0

In [347]:
test = pd.concat([test_pos, test_neg], axis=0,ignore_index =True,sort=False)
test.sample(5)

                                               content  label
91   子嫄评测:【刘庆峰：公司投资的寒武纪等企业正积极探讨登陆科创板可能性】据证券时报报道，在6日...      1
27   母婴圈动态:峰会10周年，携手讯飞，打造一场母婴童产业视听盛宴，回顾母婴童产业高速发展10年...      1
276                城墙边之白杨:$科大讯飞 sz002230$ 这里上一下还会再下来        0
203  醒悟之然:问耕 发自 凹非寺量子位 出品 | 公众号 QbitAI尽管标题很长，但是还没写全...      1
241  jackh51:昨天复盘时，对创业板当前加速上攻有些担忧，因此写到“题材股差不多也都轮炒了一...      0

In [348]:
test.to_csv('test.txt', sep = '\t', index = False)